body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}
header{
    background-color: var(--header-background);
    padding: 20px;
    text-align: center;
}

button{
    padding: 10px;
    font-size: 16px;
}
main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    background-color: var(--card-background);
    transition: backgound-color 0.5s;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

:root {
    --background-color: #f8f8f8;
    --text-color: #333;
    --header-background: #4caf50;
    --card-background: #fff;
}

body.dark-theme {
    --background-color: #222;
    --text-color: #ccc;
    --header-background: #333;
    --card-background: #444;
}