<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assiment</title>
    <link rel="stylesheet" href="Assiment.css">
</head>
<body>
    <header>
        <div id="my">
            <img src="download (2).png" alt="LOGO">
        </div>
       <div class="aaa">
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
        <a href="/faq">FAQ</a>
        <a href="/services">Services</a> 
        <button>Sign in</button>
    </div>
    </header>
    <div id="main">
<div class="MARKETING">
<h1>
    DIGITAL
</h1>
<SPAN>
    MARKETING
</SPAN>
</div>
<div class="paragraph">
<pre>
    Good paragraphs begin with a topic sentence that briefly 
    explains what the paragraph is about. Next come a few 
    sentences for development and support, elaborating on the 
    topic with more detail. Paragraphs end with a conclusion
    sentence that summarizes the topic or presents one final
    piece of support to wrap up.
</pre>
<button>
    learn More
</button>
    </div>
    <div class="image">
        <img src="Humaaans - 3 Characters.png" alt="image">

    </div>
</div>
</body>
</html>