/*Video container styling*/
.video-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 20px 25px;
    background-color: white;
    overflow-y: scroll;
    height: calc(100vh - 116px);
    
    }
    .video-container-cover{
    position: relative;
    
    transition: .5s;
    transition-delay: 0.5s;
    }
    .video-content{
    margin-bottom: 25px;
    position: relative;
    transition: .5s;
    width: 100%;
    }
    .video-content:hover{
    transform: scale(1.2);
    z-index: 5;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    }
    .video-content:hover .video-details{
    background-color: white;
    padding: 10px;
    }
    .video-content:hover .channel-logo{
    min-width: 25px;
    height: 25px;
    }
    .video-container-cover :hover{
    transform: translateY(50px, 60px);
    z-index: 999;
    }
    .video-container-cover:nth-child(4n+1) :hover{
    transform: translateY(50px, 60px);
    z-index: 999;
    }
    .video-container-cover:nth-child(4n+4) :hover{
    transform: translateY(-30px, 60px);
    z-index: 999;
    }
    .video-box{
    position: relative;
    width: auto;
    height: 145px;
    display: block;
    }
    
    .channel-logo{
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    }
    .video-details{
    display: flex;
    color: black;
    padding-top: 12px;
    }
    .details{
    margin-left: 12px;
    }
    .title{
    font-size: .9rem;
    padding-left: 5px;
    }
    .video-content:hover .title{
    font-size: .7rem;
    }
    .channel-name{
    font-size: .8rem;
    margin-top: 10px;
    color: black;
    padding-left: 5px;
    }
    .views-upload{
    display: flex;
    font-size: .8rem;
    color: black;
    padding-left: 5px;
    }
    .video-content:hover .views-upload{
    font-size: .6rem;
    }
    .upload{
    margin-left: 5px;
    }
    .hidden-content{
    display: none;
    padding: 5px 10px;
    
    }
    .video-content:hover .hidden-content{
    display: block;
    }
    .button{
    padding: 5px 0;
    color: black;
    text-transform: uppercase;
    width: 100%;
    background-color: rgb(241, 236, 236);
    text-align: center;
    margin: 5px 0;
    font-size: .6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .button i{
    font-size: .7rem;
    margin-right: 5px;
    color: black;
    }