h1{
    border-radius: 10px; border:2px solid ;
    

}


table{background-color: rgb(154, 114, 194);}
body{background-color: rgb(233, 157, 122);}
body{background-size: cover; }
body{background-attachment: fixed;}
table{text-size-adjust: 500px;}

header{
    background-color: rgb(61, 54, 68);
    border: 2px solid black;
    float: right;
    text-decoration: none;

}
header a{
    padding: 20px;
 color: aliceblue;
 text-decoration: none;
 float: right;
 font-size: x-large;
}
header{color: black;width: 100%;height: 70px; ;}
HEADER a:hover{
    
    color: brown;
    background-color: chocolate;
}
body{display:flex;}